

.avatar
    width: 200px

.prof
    display: flex
    &__wrap
        margin: 15px
    &__avatar
        width: 200px
        margin: 15px
    &__name
        display: block
        font-size: 22px
        font-weight: 800
    &__info
        display: block
        margin-top: 25px