.content
    background-color: #F8FEFE
    min-height: 600px
.header
    width: 1000px
.img
    width: 1000px
.avatar
    width: 50px
    display: block
    margin: 0 auto

.left_wrap
    display: grid
    grid-auto-rows: 1fr 1fr
    padding: 15px
    min-height: 80px
    border: solid 1px #f0f0f0
    border-radius: 15px
    margin-bottom: 5px
    img
        margin: 10px auto

.container
    padding: 0
.user
    display: grid
    grid-template-columns: 1fr 2fr 6fr 7fr
    grid-template-rows: 100px
    min-height: 120px
    margin-top: 20px
    transition: 1s all
    &__name
        font-size: 20px
        margin-top: 20px
        font-weight: 700
    &__status
        span
            font-style: italic
            color: gray
    &__country
        font-weight: 500
        margin-top: 20px
        font-size: 15px
        color: gray
.follow_btn
    display: block
    margin: 0 auto
    width: 80px
    margin-bottom: 5px
    background-color: #04D4FB
    height: 25px
    border: none
    border-radius: 10px
    color: #fff
.right_wrap
    display: grid
    padding: 15px
    min-height: 80px
    grid-template-columns: 7fr 1fr
    border: solid 1px #f0f0f0
    border-radius: 15px
    margin-bottom: 5px
    margin-left: 5px
.current_page
    display: block
    cursor: pointer
    font-size: 25px
    text-align: center
    margin: 30px auto