
.dialogs
    &__messages
        display: flex
        flex-direction: column
        padding: 40px
    &__message
        display: inline-block
        font-size: 20px
        color: #FFAA00
        margin-left: 25px
    &__icon2
        width: 35px
    &__wrapp
        margin-bottom: 30px