
.content
    background-color: #F8FEFE
    min-height: 600px
.dialogs
    display: grid
    grid-template-columns: 2fr 3fr
    &__names
        padding: 40px
        margin: 0
        a
            text-decoration: none
        &_active
            color: red
    &__messages
        display: flex
        flex-direction: column
        padding: 40px
    &__textarea
        display: block
        padding: 10px
        width: 50%
        border: 0.5px solid #f0f0f0
        &_error
            border: solid 2px red
        &:active, &:hover, &:focus 
            outline: 0
            outline-offset: 0
    &__button
        background-color: #04D4FB
        margin-top: 10px
        width: 120px
        height: 35px
        border: none
        border-radius: 10px
        color: #fff
    &__message
        display: inline-block
        font-size: 20px
        color: #FFAA00
        margin-left: 25px
    &__icon2
        width: 35px
    &__wrapp
        margin-bottom: 30px
