.header
    grid-area: header
    background-color: #F8FEFE
    display: grid
    grid-template-columns: 10fr 1fr
    
    border-radius: 15px 15px 0 0 

.logo
    width: 300px

.login_block
    font-size: 20px
    text-align: center
    a
        display: inline-block
        text-decoration: none
        color: white
        border: 1px solid white
        border-radius: 10px
        padding: 5px
        background-color: #04D4FB
        margin-top: 30px
        