.nav
    grid-area: nav
    background-color: #F8FEFE
    border-radius: 0 0 10px 10px
    padding: 15px
.link
    a
        font-size: 20px
        text-align: center
        margin-left: 25px
        color: gray
        &:hover
            color: gold
            text-decoration: none
            text-shadow: 1px 1px

.link a.active
    transition: 0.3s all
    color: gold
    font-weight: 700
    font-size: 23px