.nav
    grid-area: nav
    background-color: #F8FEFE
    border-radius: 0 0 10px 10px
    padding: 15px
.link
    a
        font-size: 20px
        text-align: center
        margin-left: 25px
        color: gray
        &:hover
            color: gold
            text-decoration: none
            text-shadow: 1px 1px

.link a.active
    transition: 0.3s all
    color: gold
    font-weight: 700
    font-size: 23px
.wrap
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    margin-top: 20px
.img_wrap
    display: grid
    grid-template-rows: 1fr 1fr
    &:hover
            cursor: pointer
    img
        display: block
        margin: 0 auto
        width: 35px
    span
        text-align: center
.header
    margin-top: 70px
    color: gray
    font-size: 20px